// other scss modules ß
@import "src/_variables.scss";

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.particles-wrapper {
  width: 100vw;
  height: 100vh;
  background: #161b6b;
  position: absolute;
  z-index: -10; // place in background
}

.menu {
  width: 0; // give 0 width so that name items can line up nicely
  z-index: 10; // place as highest element
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu-child,
.name-child {
  // background-color: white;
  height: 20vh;
  border: blue 1px dotted;
}

// make menu options get smaller for jagged effect --> can do better w js!!
.menu-child:nth-child(1) {
  width: 80vw;
  background-color: aqua;
}
.menu-child:nth-child(2) {
  width: 60vw;
  background-color: fuchsia;
}
.menu-child:nth-child(3) {
  width: 40vw;
  background-color: orange;
}
.menu-child:nth-child(4) {
  width: 20vw;
  background-color: yellow;
}

.menu-child-btn {
  // make titles of menu options buttons that fill the menu option divs
  @include button-reset;
  padding: 10px;
  // background-color: skyblue;
  @include fill-parent;
}

.menu-child-btn:hover {
  color: #ffffff !important;
  background-color: greenyellow;
  border-color: darkgreen !important;
  transition: all 0.4s ease 0s;
}

// // make name get larger for jagged effect --> can do better w js
.name-child:nth-child(1) {
  width: 20vw;
}
.name-child:nth-child(2) {
  width: 40vw;
}
.name-child:nth-child(3) {
  width: 60vw;
}
.name-child:nth-child(4) {
  width: 80vw;
}
