<main class="home">
  <div class="particles-wrapper">
    <canvas repulse-particles></canvas>
  </div>
  <!-- particle js div above-->
  <section class="menu">
    <div class="menu-child">
      <button type="button" class="menu-child-btn">
        1. ENGINEERING
      </button>
    </div>

    <div class="menu-child">
      <button type="button" class="menu-child-btn">
        2. ART
      </button>
    </div>

    <div class="menu-child">
      <a routerLink="/topiclist">
        3. WEB DESIGN
      </a>
    </div>

    <div class="menu-child">
      <span>
        4. ABOUT
      </span>
    </div>
  </section>

  <section class="name">
    <div class="name-child">
      <span>
        JUL
      </span>
    </div>

    <div class="name-child">
      <span>
        IET NW
      </span>
    </div>

    <div class="name-child">
      <span>
        AGWU UM
      </span>
    </div>

    <div class="name-child">
      <span>
        E-EZEOKE
      </span>
    </div>
  </section>
</main>

<!--sub menu items -->
<section class="submenu submenue-engineering">
  <ul>
    <li>robot</li>
    <li>iced out mercedes</li>
    <li>that rolly on your wrist</li>
  </ul>
</section>
